.Card1{
    position: absolute;
    /* width: 1345px; */
    left: 40%;
    height: 100%;
    /* background: #492cbe; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
/* .Box {
    position: fixed;
    display:flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    background: #31323F;
} */

.box-1 {
    width:400px;
    height:476px;
    display:inline;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.sufiBox{
    margin-left: 16px;
    width:368px;
    height:164px;
    text-align: center;
}

.img258{
    width:263.65px;
    height:76px;
    margin: 0 0 8px;
    user-select: none;
    pointer-events: none;
}
.Sufp{
    font-size: 40px;
    color: #413E4D;
    width:368px;
    height:48px;
    margin: 0 0 8px;
    user-select: none;
    font-weight: 700;
    font-family: 'Open Sans', Bold;
}
.A-co{
    font-size: 16px;
    color:#413E4D;
    width:368px;
    height:20px;
    user-select: none;
    font-family: 'Open Sans', Regular;
}
.box-2{
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 16px;
    width:400px;
    height:156px;
    border-radius:12px;
    box-shadow: 0px 0px 16px #00000029;
    display: block;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.btn-1{
    border-radius:24px;
    background: #DD3542 0% 0% no-repeat padding-box;
    width:174px;
    height:48px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 24px;
    margin-left:113px;
}
.btn-1 input{
    width:174px;
    height:48px;
    background:none;
    outline:none;
    border:none;
    cursor:pointer;
    color:white;
}


.Forgot {
    color:#413E4D;
    width:336px;
    height:16px;
    font-size:12px;
}
.box-3{
    position: relative;
    left: 16px;
    margin-bottom: 12px;
    width: 368px;
    height:56px;
    border-radius: 6px;
    border: 1px solid #ABB9C780;
}

.box-3 input {
    font-family: 'Open Sans', Regular;
    color: #413E4D;
    width:100%;
    outline:none;
    height:auto;
    background: none;
    padding-top: 28px;
    cursor:pointer;
    border:none;
    font-size: 16px;
    padding-left: 17px;
}
/* .box-3 input:focus-within ~ label {
    top:8px;
    font-size: 12px;
} */

.bg1{
    display: block;
    position:fixed;
    z-index: -99999;
    top:44%;
    left:-3%;
    width:950px;
    height:950px;
}
.bg2{
    display: block;
    z-index: -99999;
    position:fixed;
    z-index: -99999;
    top:-20%;
    right:-25%;
    width:980px;
    height:980px;
}
.bg3 {
    position: absolute;

    z-index: -99999;
    margin-top: 25%;
    left:-34%
}
.bg4 {
    position: absolute;

    z-index: -99999;
    bottom: 15%;
    right:-30%;
}
.bg5 {
    position: absolute;
    width:10px;
    z-index: -99999;
    top:45%;
    left:-49%
}
.bg6 {
    position: absolute;
    z-index: -99999;
    width:10px;
    top:68%;
    right:-35%
}



.Barnav{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    box-shadow: 0px 3px 16px #D1E8FF74;

}


.boC{
    position: relative;
    width: 157px;
    height:48px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 12px;
    margin-right: 12px;
}


.vs1{
    position: absolute;
    width:  100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    border-radius: 8px;
}

.txtCerrar{
    left: 1px;
    font-family: 'Open Sans', Bold;
    user-select: none;
    font-size: 14px;
    font-weight: 700;
    padding-right: 12px;
    color: #31323F;
}
.icoSalir{
    right: 10px;
    margin-top: 5px;
    color: #31323F;
    width: 28px;
    font-size: 4px;
}
.navlogo{
    width: 83.11px;
    height: 24px;
}

.Barnav2{
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.Barnav2 p{
    color: #413E4D;
    margin-left: 72px;
    font-size: 20px;
    font-family: 'Open Sans', Bold;
    font-weight: 700;
}
.btn3{
    margin-right: 72px;
    border-radius:24px;
    background:#DD3542 0% 0% no-repeat padding-box;
    width:174px;
    height:48px;
    display: flex;
    outline:none;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size:14px;
    color: white;
    font-family: 'Opew Sans', Bold;
    font-weight: 700;
    cursor:pointer;
}
.btn3 img {
    color:white;
    width:20px;
}
.btn3 h4{
    width:119px;
}

.Barnav3{
    position: relative;
    width: 100%;
    height: 88px;
    background: #FAFAFA;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.Vaciar{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 32px;
    background: #DD3542;
    border-radius: 50px;
    left: 28px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    
}

.activo{
    animation: aparecer .3s ease-in;

}

@keyframes aparecer{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.boxIp{
    position: absolute;
    width: 1208px;
    height: 56px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.wg {
    position: relative;
    background: white;
    height: 56px;
    border:1px solid #ABB9C780;
    border-radius:6px;
    margin-right: 16px;
}

.Numero,.desembolso{
    width: 272px;
}
.InL1 {
    width:100%;
    outline:none;
    height:auto;
    background: none;
    padding-top: 28px;
    cursor:pointer;
    border:none;
    font-size: 16px;
    padding-left: 17px;
}

.Animation {
    position:absolute;
    top:18px;
    left:16px;
    color:#ABB9C7;
    width: 336;
    height: 16px;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    transition: all .3s ease-in;

}
.InL1:focus ~ .Animation,
.InL1:not(:placeholder-shown).InL1:not(:focus) ~ .Animation {
    top:8px;
    font-size: 12px;
}
.nv {
    width: 100%;
}
.Card{
    width: 1345px;
    height: auto;
    background: #413E4D;
    display: flex;
    justify-content: center;
}
.blockBox{
    width: 100%;
}
.Tbs {
    width: 100%;
    font-size: 14px;
    height: 48px;
    background: #ffffff;
    text-align: left;
    border-collapse: collapse;
}

.Tbs thead tr {
    background:#F1F6FB;
    color:#413E4D;
}
.Tbs th,
.Tbs td {
    padding: 12px 15px;
    padding-left: 2px;
    font-family: 'Open Sans', bold;
}
.Tbs tbody tr:nth-of-type(even) {
    background-color: #F7F7F7;
}

.Color1 {

    color:#413E4D;
    font-family: 'Open Sans', Bold;
    font-weight: 700;
    font-size: 14px;
}
.F1
{
    margin-right: 89px;
}
.F2{
    margin-left: 10px;
}
.F3
{
    margin-left: -40px;
}
.F5
{
    margin-right: 90px;
} 


.nvtbs{
    width: 100%;
    height: 48px;
    background: #F1F6FB;
    display: flex;
    
}
.bbs{
    margin-right: 72px;
    margin-left: 72px;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}
.td1{
    width: 346px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.td1_1
{
    text-align: left;
    width: 140px;
    margin-left: 70px;
}
.td1_2
{
    text-align: left;
    width: 140px;
    margin-left: 25px;
}

.td1_3
{
    text-align: left;
    width: 229px;
    margin-left: 20px;
}
.td2{
    width: 246px;
}
.td3{
    text-align: center;
    width: 200px;
}
.td4{
    text-align: left;
    width: 279px;
}
.td5{
    text-align: left;
}
.sticky {
    width: 100%;
    position: sticky;
    background-color: white;
    top:0;
}

.Rg{
    position: fixed;
    background:white;
    border-radius: 24px 24px 0 0;
    bottom: 0;
    width: 508px;
    height: 80px;
    box-shadow: 0px 3px 16px #AAAAAA4D;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.Rk h4{
    font-family: 'Hac', Regular;
    color:#DD3542;
    font-size: 24px;
}

.Rg1{
    position: relative;
    background: white;
    width: 268px;
    height: 56px;
    border:1px solid #ABB9C780;
    border-radius:6px;
    margin-right:12px;
}

.flc{
    width: 48px;
    height: 48px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Rk{
    width: 204px;
    height: 48;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}
.diez{
    width: 60px;
    height: 20px;
    padding-right: 12px;
    

}
.diez p {
    color:#414141;
    font-size: 16px;
}
.boxN{
    width: 48px;
    height: 48px;
    border-radius:6px;
    border: 1px solid #ABB9C780;
    background: white;
    padding: 12px;
    text-align: center;
    margin-right: 8px;

}

.a2 {
    margin-left:12px;
}
.arrowB {
    position:absolute;
    font-family: 'Hac', Regular;
    font-size: 24px;
    right:16px;
    top:16px;
    color:#DD3542;
    user-select: none;
    pointer-events: none;
}
.Calendar{
    position: absolute;
    font-family: 'Hac',Regular;
    top:12px;
    right: 12px;
}
.Calendar img {
    font-size: 2px;
}
tbody tr td {
    color: #8E8E8E;
}

